* {
  margin: 0;
  padding: 0;
	// border: none;
}

// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// }

a {
  text-decoration: none;
}

body{
  color: rgb(0, 0, 0);
  background-color: #f9f7f4;
}
@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.red{
  background-color: red;
}
.cards {
  margin: 0 auto;
  /* padding-top: 30px; */
  // padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 327px);
  max-width: 1400px; 
  width: 100%;
  justify-content: center;
  justify-items: center;
  column-gap: 16px; 
  row-gap: 20px; 
  overflow: hidden;
}
.anchor{
  position: relative;
  transform: translateY(-100px);
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.welcom_admin{
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 26px;
  color: #ffffff;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_menu{
  margin: 0 auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  color: #ffffff;
  font-size: 25px;
  border: 2px solid rgb(218, 255, 253);
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_menu:hover{
  color: black;
background-color: rgb(181, 181, 181);
}
.menu_lk{
  margin: 0 auto;
  padding: 10px;
  width: 250px;
  background-color: #02a85888;;
  border: 2px solid rgb(0, 164, 71);
  border-radius: 25px;  
  position: fixed;
  top: 100px;
  right: 20px;
}
.logo_menu_lk{
  text-align: center;
  margin: 20px auto; 
  font-size: 40px;
  font-weight: 900;
  color: rebeccapurple;

}
.checkout_btn {
  padding: 12px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  /* transition: background 0.2s; */
}
.checkout_btn[disabled] {
  filter: grayscale(80);
}
@media screen and (max-width: 500px){
  .menu_lk{
  position: static;
}
}

